---
import Section1 from "../../ui/Section1/Section1.astro";
import Section2 from "../../ui/Section2/Section2.astro";
---
<main>
    <Section1/>
    <Section2/>
</main>

<style>
    main{
        height: 50rem;
        width: 100%;
        /* background-color: aqua; */
    }
    
</style>