<h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa amet velit cupiditate a rerum aliquam veniam necessitatibus labore, neque provident. Fuga maiores beatae nemo eaque ex similique? Cupiditate, ut quae? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, unde quidem? Repudiandae asperiores esse eveniet consequatur modi. Laborum, illum ipsa? Dignissimos dolorem accusamus, hic asperiores provident omnis ipsam deleniti animi?Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione nobis culpa amet quam eius dicta quas nihil, odio corporis reprehenderit quia aperiam itaque minus quod sit reiciendis inventore iusto a?</h2>

<style>
    h2{
        font-size: small;
        color: white;
    }
</style>