---
import Anchor from "../Anchor/Anchor.astro";
---

<nav>
    <ul>
        <li>
            <Anchor/>
        </li>
    </ul>
</nav>

<style>


    nav{
        /* background-color: antiquewhite; */
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content:center;
        margin-left: 5rem;
    }

    ul{
        /* background-color: aquamarine; */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    li{
        list-style: none;
        /* background-color: rgb(35, 211, 65); */
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
</style>