---
import Header from "../layouts/Header/Header.astro";
import Main from "../layouts/Main/Main.astro";
import Footer from "../layouts/Footer/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">

	<body>
		<Header/>
		<Main/>
		<Footer/>
	</body>

</html>

<style>
	body{

		background-image: url("https://images2.alphacoders.com/111/111200.jpg");
		background-size: cover;
	}
</style>