---
    const menu = ['home', 'about', 'service','help'];
---

{
    menu.map( element => <a> {element} </a> )
}

<style>
   a{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    font-size: 35px;
   } 
</style>